.header__lang-link {
  align-self: flex-end;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}
