.cover__link {
  background: url(../../../images/cover-trains.jpg) no-repeat center / cover;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
  z-index: 0;
}

.cover__link::before {
  background: #2a2c2f;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: -1;
  transition: opacity 0.5s ease;
}

.cover__link:hover::before {
  opacity: .8;
}

@media screen and (max-width: 319px) {
  .cover__link {
    max-width: 319px;
  }
}

@media screen and (min-width: 612px) and (max-width: 767px) {
  .cover__link {
    min-width: 564px;
  }
}

@media screen and (min-width: 768px) {
  .cover__link {
    gap: 32px;
    width: 100%;
    padding: 0;
  }
}
