.places {
  margin: 0;
}


@media screen and (min-width: 768px) {
  .places {
    margin: 0;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    margin: 0;
    padding: 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    margin: 0;
    padding: 0 148px;
  }
}
