.place__image {
  display: block;
  max-width: 320px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    max-width: 460px;
  }
}
