.place__image {
  max-width: 320px;
  margin-bottom: 29px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .place__image {
    max-width: 340px;
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    max-width: 460px;
  }
}
