.header {
  margin: 0 auto;
  padding: 16px 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 28px 48px 0;
  }
}
