.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 33px;
}

@media screen and (min-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
}
