.lead__subtitle {
  max-width: 288px;
  margin: 16px 16px 39px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin: 31px 0 56px;
  }
}


@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 31px 0 65px;
  }
}
