.cover {
  position: relative;
  background: url(../../images/cover-trains.jpg) no-repeat top / contain;
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
}

@media screen and (min-width: 321px) {
  .cover {
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    min-height: 640px;
    margin-top: 11px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    height: 740px;
    width: 1184px;
  }
}
