.cover {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .cover {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    max-width: 1024px;
    padding-top: 9px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
  }
}
