.cover__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  max-width: 255px;
  color: #FFF;
  margin: 33px 0 0;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    margin: 115px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    margin: 195px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    margin: 245px 0 0;
  }
}
