.cover__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  max-width: 288px;
  color: #FFF;
  margin: 0;
  padding: 34px 16px 0;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    padding: 115px 104px 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    padding: 197px 232px 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    padding: 245px 312px 0;
  }
}

