.place {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

@media screen and (min-width: 612px) {
  .place {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0 70px;
    align-items: start;
  }
}

@media screen and (min-width: 768px) {
  .place {
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 48px 38px;
  }
}
