.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0 0 12px;
}

@media screen and (min-width: 768px) {
  .place__url-heading {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__url-heading {
    line-height: 20px;
    margin-bottom: 8px;
  }
}
